<!DOCTYPE html>
<html>
<head>
	<title>Relatorio</title>
	<title>AnuncioApp</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1>Relatorio do anuncio</h1>
	<h3><a href="/anuncios" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Anuncio</a></h3>
	<table class="container">
		<thead>
			<tr>
				<th>Nome do anuncio</th>
				<th>Nome do Cliente</th>
				<th>Valor Total Investido</th>
				<th>Total de Visualizações</th>
				<th>Cliques</th>
				<th>Compartilhamentos</th>
				<th>Periodo ativo</th>
			</tr>
		</thead>
	</table>
	
	<p align="center">Infelizmente meus conheciementos vão até essa etapa. Devido a faculdade deixei o desafio para ultima hora. Obrigado Por avaliar o projeto :)</p>
	
	
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="materialize/text/javascript" src="js/materialize.min.js"></script>
</body>
</html>